#content {
    display: block;
}

p {
    font-size: 25px;
    text-align: center;
}

input {
    margin-top: 10px;
    margin-left: 50px;
}

.answer {
    text-align: center;
    font-size: 20px;
}

#next-question {
    margin-top: 20px;
    margin-right: 30px;
    font-size: 20px;
    float: right;
    background-color: darkgray;
}